<%- include("header") -%>

<div class="result">

    <h1>The current temperature in <%= city %> is <%= temperature %>  degree celcius </h1>

<h1>The current weather Discription in <%= city %> is <%= discription %> </h1>
<img src= "<%= url %>">
</div>








<%- include("footer") -%>